<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Créer une note</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="/styles.css">
</head>
<body>

	<h2 class="title">Créer une note</h2>

	<form action="#" th:action="@{/docnote/add/submit}" th:object="${note}" method="post" class="form-vertical">
		<ul class="list-group" th:object="${note}">
			<input th:field="*{patientId}" th:value="*{patientId}" style="display:none">
			<li id="firstname" class="list-group-item form-group">
				<b>Prénom : </b><span th:text="*{firstname}"></span>
				<input th:field="*{firstname}" th:value="*{firstname}" style="display:none">
			</li>
			<li id="lastname" class="list-group-item form-group">
				<b>Nom : </b><span th:text="*{lastname}"></span>
				<input th:field="*{lastname}" th:value="*{lastname}" style="display:none">
			</li>
			<li id="gender" class="list-group-item form-group">
				<b>Sexe : </b><span th:text="*{gender}"></span>
				<input th:field="*{gender}" th:value="*{gender}" style="display:none">
			</li>
			<li id="birthdate" class="list-group-item form-group">
				<b>Date de naissance : </b><span th:text="${#temporals.format(note.birthdate,'dd/MM/yyyy')}"></span>
				<input th:field="*{birthdate}" th:value="*{birthdate}" style="display:none">
			</li>
			<li class="list-group-item form-group">
				<b>Note : </b><textarea cols="80" rows="4" th:field="*{comment}" id="comment" placeholder="....." />
				<span class="text-danger" th:if="${#fields.hasErrors('comment')}" th:errors="*{comment}"></span>
			</li>
		</ul>
		<input class="btn btn-danger" type="button" value="Annuler" th:onclick="|window.location.href='/docnote/patientHistory/${note.patientId}'|">
		<input class="btn btn-primary" type="submit" value="Confirmer">
	</form>
		
</body>
</html>
