<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Ajouter un nouveau patient</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="/styles.css">
</head>
<body>

	<h2 class="title">Ajouter un nouveau patient</h2>

	<form action="#" th:action="@{/patient/add/submit}" th:object="${patient}" method="post" class="form-vertical">
		<ul class="list-group" th:object="${patient}">
			<li class="list-group-item form-group">
				<label for="firstname">Prénom : </label><input type="text" th:field="*{firstname}" id="firstname" placeholder="Prénom">
				<span class="text-danger" th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}"></span>
			</li>
			<li class="list-group-item form-group">
				<label for="lastname">Nom : </label><input type="text" th:field="*{lastname}" id="lastname" placeholder="Nom">
				<span class="text-danger errorMsg" th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}"></span>
			</li>
			<li class="list-group-item form-group">
				<label for="birthdate">Date de naissance : </label><input type="date" min="1900-01-01" max="#" th:field="*{birthdate}" id="birthdate" placeholder="jj/mm/aaaa">
				<span class="text-danger errorMsg" th:if="${#fields.hasErrors('birthdate')}" th:errors="*{birthdate}"></span>
			</li>
			<li class="list-group-item form-group">
	  			<label for="gender">Sexe : </label>
				<input type="radio" id="Female" name="gender" value="F"><b>&ensp;F</b>
	  			<input type="radio" id="Male" name="gender" value="M"><b>&ensp;M</b>
				<span class="text-danger errorMsg" th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"></span>
			</li>
			<li class="list-group-item form-group">
				<label for="address">Adresse : </label><input type="text" th:field="*{address}" id="address" placeholder="Adresse" >
				<span class="text-danger errorMsg" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></span>
			</li>
			<li class="list-group-item form-group">
				<label for="phone">Téléphone : </label><input type="tel" pattern="[0-9]{10}" th:field="*{phone}" id="phone" placeholder="0123456789">
				<span class="text-danger errorMsg" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></span>
			</li>
		</ul>
		<input class="btn btn-danger" type="button" value="Annuler" onclick="window.location.href='/patient/list'">
		<input class="btn btn-primary" type="submit" value="Confirmer">
	</form>
<script>
	date = new Date();
	y = date.getFullYear();
	m = date.getMonth() + 1;
	d = date.getDate();
	document.getElementById("birthdate").setAttribute("max",y+"-"+m+"-"+d); 
</script>
</body>
</html>
