<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Détails</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="/styles.css">
</head>
<body>

	<h2 class="title">Détails du patient</h2>
	<ul class="list-group" th:object="${patient}">
		<li class="list-group-item"><b>Prénom : </b><span th:text="*{firstname}"></span></li>
		<li class="list-group-item"><b>Nom : </b><span th:text="*{lastname}"></span></li>
		<li class="list-group-item"><b>Sexe : </b><span th:text="*{gender}"></span></li>
		<li class="list-group-item"><b>Date de naissance : </b><span th:text="*{#temporals.format(birthdate,'dd/MM/yyyy')}"></span></li>
		<li class="list-group-item"><b>Adresse : </b><span th:text="*{address}"></span></li>
		<li class="list-group-item"><b>Téléphone : </b><span th:text="*{phone}"></span></li>
	</ul>
	<button type="button" class="btn btn-success" th:onclick="|window.location.href='/patient/update/${patient.id}'|">Update</button>
	<button type="button" class="btn btn-danger" onclick="confirm()">Delete</button>
	<div id="confirm">
		<span><b>Êtes vous sûr de vouloir supprimer ce dossier?</b></span>
		<button type="button" class="btn btn-primary" onclick="window.location.href='/patient/list'">Annuler</button>
		<button type="button" class="btn btn-danger" th:onclick="|window.location.href='/patient/delete/${patient.id}/confirm'|">Confirmer</button>
	</div>		
	<script>
	function goTo(path){
		windows.location=path;
	}
	</script>
	<script>
		function confirm(){
			document.getElementById("confirm").style.display = "block";
		}
	</script>
</body>
</html>