<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Éditer les infos du patient</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="/styles.css">
</head>

<body>
	
	<h2 class="title">Éditer les infos du patient</h2>

	<form action="#" th:action="@{/patient/update/{id}/submit(id=${patient.id})}" th:object="${patient}" method="post" class="form-vertical">
		<ul class="list-group" th:object="${patient}">
			<li class="list-group-item form-group">
				<b>Prénom : </b><span th:text="*{firstname}"></span>
				<input th:field="*{firstname}" th:value="*{firstname}" style="display:none">
			</li>
			<li class="list-group-item form-group">
				<b>Nom : </b><span th:text="*{lastname}"></span>
				<input th:field="*{lastname}" th:value="*{lastname}" style="display:none">
			</li>
			<li class="list-group-item form-group">
				<b>Sexe : </b><span th:text="*{gender}"></span>
				<input th:field="*{gender}" th:value="*{gender}" style="display:none">
			</li>
			<li class="list-group-item form-group">
				<b>Date de naissance : </b><span th:text="*{#temporals.format(birthdate,'dd/MM/yyyy')}"></span>
				<input th:field="*{birthdate}" th:value="*{birthdate}" style="display:none">
			</li>
			<li class="list-group-item form-group">
				<label>Adresse : </label><input type="text" th:field="*{address}" id="address" placeholder="Adresse..." >
				<p class="text-danger" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></p>
			</li>
			<li class="list-group-item form-group">
				<label>Téléphone : </label><input type="text" th:field="*{phone}" id="address" placeholder="Téléphone..." >
				<p class="text-danger" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></p>
			</li>
		</ul>
		<input class="btn btn-danger" type="button" value="Annuler" onclick="window.location.href='/patient/list'">
		<input class="btn btn-primary" type="submit" value="Confirmer">
	</form>
</div>
</body>
</html>
