<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Home</title>
<link rel="stylesheet" href="/styles.css" >
<script>
window.addEventListener('DOMContentLoaded', (event) => {
	document.getElementById("apiframe").src="/images/loading-loading-forever.gif";
	let url = "[[${urlDocnoteApi}]]"+"/docnote/add/";
	let promise;
	try{
		promise = fetch(url);
	}catch(err){
		document.getElementById("apiframe").src="/error404"
	}
	promise.then(
		function(value) {
			console.log("checkStatus() -> ",value.status);
			if (!value.ok){
				document.getElementById("apiframe").src="/error404";
			}else{
				document.getElementById("apiframe").src=url;
			}
		},
		function(error) {
			document.getElementById("apiframe").src="404";
		}
	)	
});
</script>
</head>
<body>
<div class="container">
	<a href="/patient/add">Add patient</a>
	<a href="/get">Get patient</a>
	<a href="/update">Update patient</a>
	<a href="/delete">Delete patient</a>
</div>
<iframe src="#" id="apiframe" title="TEST"></iframe>
</body>
</html>