<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Mediscreen - Notes</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="/styles.css">
<script>
let param;
window.addEventListener('DOMContentLoaded', (event) => {
	document.getElementById("apiframe").src="/images/loading-loading-forever.gif";
	param = window.location.href.split('/')[5];
	let url = "[[${urlDocnoteApi}]]"+"/docnote/patientHistory/"+param;
	let promise;
	try{
		promise = fetch(url);
	}catch(err){
		document.getElementById("apiframe").src="/404"
	}
	promise.then(
		function(value) {
			console.log("checkStatus() -> ",value.status);
			if (!value.ok){
				console.log("OK");
				document.getElementById("apiframe").src="/404";
			}else{
				console.log("KO");
				document.getElementById("apiframe").src=url;
			}
		},
		function(error) {
			console.log("KO");
			document.getElementById("apiframe").src="/404";
		}
	)
	
});
let id;
window.addEventListener('message', function(mess){
	console.log("Parent received :"+mess.data);
	id = mess.data;
	document.getElementById('selecterror').style.display = "none";
})

function setSrcIframeWithId(src){
	if (id==undefined){
		document.getElementById('selecterror').style.display = "block";
	}else{
		var url = "[[${urlDocnoteApi}]]"+src+id;
		document.getElementById("apiframe").src = url;
	}
}
function setSrcIframe(src){
	var url = "[[${urlDocnoteApi}]]"+src;
	console.log(url+param);
	document.getElementById("apiframe").src = url+param;
}
function setSrcIframeReport(){
	var url = "[[${urlRiskReport}]]"+"/riskreport/"+param;
	console.log(url);
	document.getElementById("apiframe").src = url;
}
</script>
</head>
<body>
	<div id="banniere">
		<img id="logo" src="/images/logo.png">
	</div>
	<div class="main">
		<div class="errorcontainer"><span id="selecterror">Veuillez sélectionner une note pour continuer.</span></div>
		<div class="container" >
			<div id="sidebuttons">
				<button id="sidebutton" class="btn btn-primary" onclick="setSrcIframeReport()">Rapport de risque</button>
				<button id="sidebutton" class="btn btn-primary" onclick="setSrcIframe('/docnote/add/')">Créer une note</button>
				<button id="sidebutton" class="btn btn-primary" onclick="setSrcIframeWithId('/docnote/get/')">Détails</button>
			</div>
			<iframe src="#" id="apiframe" title="TEST"></iframe>
		</div>
	</div>
</body>
</html>